// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


////////// Custom sass for admin menu
.custom_btn_list {
    .custom_btn {
        padding: 10px 25px;
        color: black;
        border: 2px solid orange;
        border-radius: 50px;
        background: #dddddd;
        margin-right: 10px;
        text-decoration: none;

        &:hover {
            color: #ffffff;
            background: rgb(143, 255, 97);
        }
    }
}




